# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

node_modules
dist
dist-ssr
dist-electron
release
*.local

# OS-specific files
.DS_Store
Thumbs.db

# Editor directories and files
.vscode/.debug.env
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

#lockfile
package-lock.json
pnpm-lock.yaml
yarn.lock
/test-results/
/playwright-report/
/playwright/.cache/
/backend/__pycache__
/backend/adapters/ai_provider/__pycache__
/backend/adapters/api/__pycache__
/backend/application/__pycache__
backend/db/chroma.sqlite3
/backend/domain/__pycache__
/backend/framework/__pycache__
/backend/adapters/database/__pycache__
backend/db/fc57c725-8411-4ded-a3e4-dd45369b8c05/data_level0.bin
backend/db/fc57c725-8411-4ded-a3e4-dd45369b8c05/header.bin
backend/db/fc57c725-8411-4ded-a3e4-dd45369b8c05/length.bin
backend/db/fc57c725-8411-4ded-a3e4-dd45369b8c05/link_lists.bin
/backend/documents
/backend/venv
backend/launch.json
/backend/db
/backend/adapters/__pycache__
/backend/adapters/__pycache__
/backend/adapters/api/__pycache__
/backend/adapters/database/__pycache__
/backend/adapters/database/__pycache__
/backend/application/__pycache__
/backend/application/__pycache__
/backend/domain/__pycache__
/backend/domain/__pycache__
/backend/adapters/ai_provider/__pycache__
backend/db/chroma.sqlite3
/backend/validators/__pycache__
/backend/domain/file_loaders/__pycache__
/backend/log
/.vscode
/.vscode
backend/velocityaiworkbench.tar
backend/prompts/__pycache__/prompt_loader.cpython-311.pyc
/backend/prompts/__pycache__
/backend/prompts/__pycache__
backend/prompts/__pycache__/prompt_loader.cpython-311.pyc
