:root {
    --size: 25px;
    --speed:10s;
    --speed-1:15s;
    --speed-2:20s;
    --speed-3:25s;
    --speed-4:30s;
  }
  
  .aitext{
    position:relative;
    top: -8px; 
    left: 0px;
    color:rgba(0,0,0,0.6);

    h3,h5,h4{
      margin:0px;
    }
  }
  
  .ailoader {
    position:relative;
    width: var(--size);
    height: var(--size);
  }
  
  .loader__inner {
    position: absolute;
    display: block;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    box-shadow: 
      0 -10px 0 0 rgba(255, 94, 45,.8),
        -7.5px 5px 0 0 rgba(255, 94, 45,.6),
      7.5px 5px 0 0 rgba(255, 94, 45,.8);
    animation: rotate var(--speed) linear infinite;
  }
  .loader__inner:nth-child(2) {
    box-shadow: 
      7.5px -5px 0 0 rgba(255, 94, 45,.6),
      -7.5px -5px 0 0 rgba(255, 94, 45, .6),
      0 10px 0 0 rgba(255, 94, 45,.6);
    animation: rotate__other var(--speed-1) linear infinite;
  }
  .loader__inner:nth-child(3) {
    box-shadow: 
      7.5px -5px 0 0 rgba(255, 94, 45,.4),
      -7.5px -5px 0 0 rgba(255, 94, 45, .4),
      0 10px 0 0 rgba(255, 94, 45,.4);
    animation: rotate var(--speed-2) linear infinite;
  }
  .loader__inner:nth-child(4) {
    box-shadow: 
      7.5px -5px 0 0 rgba(255, 94, 45,.3),
      -7.5px -5px 0 0 rgba(255, 94, 45, .3),
      0 10px 0 0 rgba(255, 94, 45,.3);
    animation: rotate var(--speed-3) linear infinite;
  }
  .loader__inner:nth-child(5) {
    box-shadow: 
      7.5px -5px 0 0 rgba(255, 94, 45,.2),
      -7.5px -5px 0 0 rgba(255, 94, 45, .2),
      0 10px 0 0 rgba(255, 94, 45,.2);
    animation: rotate var(--speed-4) linear infinite;
  }
  @keyframes rotate {
    50% {
      transform: scale(1.1) rotate(360deg);
    }
    100% {
      transform: scale(1) rotate(720deg);
    }
  }
  
  @keyframes rotate__other {
    50% {
      transform: scale(1.2) rotate(-360deg);
    }
    100% {
      transform: scale(1) rotate(-720deg);
    }
  }