@use '../styles/variables';

.pageWrapper{
    padding-left: 4px;
    padding-right: 4px;
    min-height: 100vh;
    background-color: #fff;
    border-right: 0px solid rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: left;
    padding-top: 0px;
    overflow-y: auto;
}

.pageWrapper > .pageCard {
  box-shadow: none !important;
  width:100% !important;
  padding: 0 !important;
  margin: 0 !important;
  margin-top: -25px !important;
  scrollbar-width: thin;
}

.pageCard{
    width: 85vw;
    margin: 20px auto;
    padding: 16px 20px 16px 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    min-height: 80vh;
}

.apptogglebtn{
    border-color: variables.$primary-color!important;
}

.apptogglebtn:focus{
    outline: none;
}

.logobtn:focus{
  outline:none;
}

.logobtn:hover{
    color: variables.$primary-color!important;
    background-color: #fffbfa!important;
}

.menu-icon:focus{
  outline: none;
}

.menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25px;
    height: 16px;
    margin-right: 10px;
    cursor: pointer;
  
    .bar {
      width: 100%;
      height: 2px;
      background-color: #333;
      transition: transform 0.3s ease, opacity 0.3s ease;
  
      &:nth-child(1) {
        transform-origin: top left;
      }
  
      &:nth-child(3) {
        transform-origin: bottom left;
      }
  
      &.open {
        &:nth-child(1) {
          transform: rotate(35deg);
        }
  
        &:nth-child(2) {
          opacity: 0;
        }
  
        &:nth-child(3) {
          transform: rotate(-35deg);
        }
      }
    }
  }

  .menu-icon:hover .bar{
      background-color: variables.$primary-color;
      transition: transform 0.3s ease;
  }

.profile-button{
  display: flex;
  width: 101px;
  flex-direction: row;
  gap: 7px;
  border-radius: 0px!important;
  padding: 20px 20px;
}

.profile-button:focus{
  outline:none;
}

.profile-button:hover{
  color: variables.$primary-color!important;
}

.app-bar{
  position: static!important;
  z-index: 1201;
  background-color: variables.$light-primary-color!important;
  border-bottom: 1px solid variables.$primary-color!important;
  box-shadow: variables.$shadow-elevation-low!important;
  color: #000; 
}

.tool-bar{
  padding-left: 10px;
  min-height: 50px!important;
}

.profile-dropdown ul{
  padding:0px!important;
}

.profile-dropdown .MuiMenu-paper{
  box-shadow: variables.$shadow-elevation-low!important;
  background-color: variables.$menu-hover-color;
}

.profile-dropdown ul li{
  border-bottom: 2px solid variables.$light-primary-color;
  padding-top:10px;
  padding-bottom: 10px;
}

.profile-dropdown ul li:hover{
  color: variables.$primary-color!important;
}

.primary-btn{
  background-color: variables.$primary-btn-color!important;
  color:#fff!important;
}

.primary-btn:hover{
  background-color: variables.$primary-btn-color-dark!important;
}

.primary-btn img{
  filter: brightness(200%) saturate(0%) invert(100%) sepia(100%) hue-rotate(0deg) contrast(100%);
}

.primary-btn.Mui-disabled, .secondary-btn.Mui-disabled{
  color:#aaa!important;
  background-color: #eee!important;
  border-color: #eee!important;
}

.secondary-btn{
  color: variables.$primary-btn-color!important;
  border: 1px solid variables.$primary-btn-color!important;
}

.titlebar{
  display: flex; 
  align-items: center; 
  margin-left:20px;
  margin-right:20px; 
  margin-top: 7px; 
  padding-bottom: 9px;
  border-bottom: 2px solid variables.$title-border-color;
  color: variables.$primary-color;
}

.notificationbtn{
  position: relative; 
  top: 0px;
  right: 20px; 
  cursor:pointer;
  background-color: transparent;
  border-radius: 0px;
  padding:9px 10px;
  height:40px;  
}

.notificationbtn:focus{
  outline: none;
}

.notificationbtn:hover{
  background-color: rgba(0, 0, 0, 0.05);
  
  .icon{
    filter: brightness(0) saturate(100%) invert(48%) sepia(73%) saturate(5618%) hue-rotate(338deg) brightness(103%) contrast(101%);
  }

}

.list-item{
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.list-item:hover{
  background-color: rgba(0, 0, 0, 0.05);
}

.view-all-btn{
  background-color: variables.$secondary-color!important;
  color:variables.$primary-color;
}

.list-style{
  width: 92%; 
  overflow: scroll;
}

.sublist-container{
  scrollbar-width: thin;
}

.right-section{
  width:100%!important;
  justify-self:end!important;
}