@use './_variables.scss';
@use './common.scss';

.knowledge-base {
    display: flex;
    height:92vh;
  }

  .threedotcontainer{
    margin-left:0px;
    padding: 12px 20px 12px 0px;
    cursor: pointer;
    display: flex;
    align-items: center;

    .action-btns{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-left: auto;
      gap: 20px;
  
      p{
        margin:0px;
        display: none;
      }
  
    }

  }

  .threedotcontainer:hover, ul li.selected .threedotcontainer{
      p{
        display: flex;
      }
  }

  .threedotcontainer>span{
    cursor: pointer;
    text-transform: capitalize;
    display: flex;
    align-items: center;
  }

  .threeDots:focus{
    outline: none;
  }

  .header-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: variables.$primary-color;
    font-size: 1.3em;
    margin-left: 10px;
    margin-top: 10px;
    padding: 3px 10px 2px 0px;
    border-bottom: 2px solid variables.$title-border-color;
    gap: 18px;

    .titlebar{
      border:0px;
    }

    .icon{
      cursor: pointer;
    }
  }
  
  .sidebar {
    border-right: 1px solid #ddd;
    padding: 0px;
    display:flex;
    flex-direction: column;
    height:92vh;
  }

  .sidebar.hide{
    display:none;
  }

  .sidebar.show{
    display:flex;
  }

  .sidebar ul{
    list-style: none;
    margin:0px 0px 0px 20px;
    padding:0px;
  }

  .sidebar ul li{
    border-bottom: 2px solid variables.$light-primary-color;
    padding-left:10px;
  }

  .sidebar ul li:hover, .sidebar ul li.selected{
    background-color: #fff;
    color: variables.$primary-color;
  }

  .sidebar h3{
    padding: 10px;
    margin: 0px 0px 0px 20px;
    border-bottom: 2px solid variables.$light-primary-color;
    color: variables.$primary-color;
  }
  
  .content {
    flex: 1;
    padding: 0px 20px 0px 0px;
  }
  
  .add-source-button {
    width:90%!important;
    margin-top: 10px!important;
    margin-left: 15px!important;
    padding: 3px!important;
    background-color: variables.$secondary-color!important;
    color: white!important;
    border: none;
    border-radius: 5px!important;
    cursor: pointer;
  }
  
  .modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    display:flex;
    background-color: white;
    padding: 20px;
    min-width: 300px;;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    flex-direction: column;
  }

  .buttoncontainer{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
  }

  .file-dropzone {
    border: 2px dashed #ccc;
    padding: 20px;
    margin: 20px 0;
  }

  .folders{
    display: flex;
    flex-direction: column;
  }
  
  .folders button {
    margin-right: 10px;
    color: variables.$primary-btn-color!important;
    text-transform: capitalize!important;
    align-self: self-start;
  }
  
  .browsebtn{
    background-color: variables.$primary-color!important;
    text-transform: capitalize!important;
  }

  .linkbox{
    width: 400px;
    height: 50px;
  }

  .workinprogress{
    margin-top:100px;
    width: 100%;
    text-align: center;
    color: #bbb;
  }

  .workinprogress h3{
    margin:0px;
  }

  .selectedFiles{
    margin-top: 0px;
    list-style:none; 
    display:flex; 
    flex-wrap: wrap;
    flex-direction:row; 
    padding:0px; 
    gap:15px;
    color:variables.$primary-btn-color; 
  }

  .textbtndisabled{
    color:#ccc!important;
  }