@use './variables';
@use './common.scss';

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    transform: scaleX(-1);
  }

.main-wrap{
    background-color: #ffffff;
    background-image: url('../assets/images/arimg.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    height: 100vh;
    width: 100vw;
}

// .home-wrap{
//     padding: 35px 100px;
//     display: flex;
//     flex-direction: row;
//     flex-wrap: wrap;
//     gap: 40px;
//     width: 670px;
// }

// .home-box{
//     width: 300px;
// }

// .box-wrap{
//     padding: 0 100px;
// }
 
// .box-wrap h3{
//     color: variables.$primary-color;
// }

// .box-wrap h4{
//     font-weight: 600;
// }

.getstarted-btn{
    margin-top: 20px !important;
}

.home-box a {
    text-decoration: none;
    color: inherit; /* Default color */
    transition: color 0.3s ease; /* Smooth transition effect */
  }
  
  .home-box a:hover {
    color: #f37137; /* Hover color */
  }