@use './_variables.scss';
@use './common.scss';

/****** Common Styles (Global) **********/
.sidebar-container {
  position: relative;
  width: 65px;
  height: 100vh;
  background-color: variables.$light-primary-color;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: variables.$shadow-elevation-medium;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidemenu-dropdown {
  box-shadow: variables.$shadow-elevation-low;
}

.top-menu {
  display: flex;
  flex-direction: column;
  border-top: 2px solid variables.$primary-color-verylight !important;

  li:hover .childmenu {
    display: flex;
  }

  .isactive {
    background-color: #fffbfa !important;
    position: relative;
    overflow: visible;

    .icon {
      filter: brightness(0) saturate(100%) invert(48%) sepia(73%) saturate(5618%) hue-rotate(338deg) brightness(103%) contrast(101%);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -10px;
      filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid #eae1e1;
      z-index: 9;
    }
  }
}

.bottom-menu {
  display: flex;
  flex-direction: column;
  margin-top: auto;
  border-top: 2px solid variables.$primary-color-verylight !important;
}

.sidebar-container ul {
  padding: 0px !important;
}

.logobtn {
  color: rgba(0, 0, 0, 1);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-top: 1px;
}

.menu-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  scrollbar-width: none;
  overflow-y: visible;
  overflow-x: visible;

  &::-webkit-scrollbar {
    width: 8px;
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
  }

  &::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

.squareMenuButton {
  color: variables.$sidemenu-circularbtn-txtcolor !important;
  height: 40px;
  border-bottom: 1.5px solid variables.$primary-color-verylight !important;
  border-radius: 0px !important;

  &:hover {
    background-color: #fffbfa !important;

    > .icon {
      filter: brightness(0) saturate(100%) invert(48%) sepia(73%) saturate(5618%) hue-rotate(338deg) brightness(103%) contrast(101%);
    }
  }

  &.isactive {
    background-color: #fffbfa !important;
    position: relative;
    overflow: visible;

    .icon {
      filter: brightness(0) saturate(100%) invert(48%) sepia(73%) saturate(5618%) hue-rotate(338deg) brightness(103%) contrast(101%);
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: -10px;
      filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.1));
      transform: translateY(-50%);
      width: 0;
      height: 0;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
      border-left: 10px solid #eae1e1;
      z-index: 9;
    }
  }
}

.circularMenuButton:focus,
.squareMenuButton:focus {
  outline: none;
}

.navcontainer-bottom {
  position: absolute;
  bottom: 0px;
}

.upbtn,
.downbtn {
  background-color: #fff !important;
  color: #000 !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border-radius: 0px !important;
  margin: 0px !important;
  border-top: 1px solid rgba(0, 0, 0, 0.2) !important;

  &:hover {
    background-color: variables.$primary-color !important;
  }

  &:focus {
    outline: none;
  }
}

/****** Screen Resolution 150% **********/
@media screen and (max-width: 1281px) {
  .sidebar-container {
    padding: 1px !important;
  }

  .squareMenuButton {
    width: 50px;
  }
}

/****** Screen Resolution 125% **********/
@media screen and (min-width: 1282px) and (max-width: 1920px) {
  .sidebar-container {
    padding: 0px !important;
  }

  .squareMenuButton {
    width: 100%;
    height: 50px;
    border-bottom: 2px solid variables.$primary-color-verylight !important;
  }
}
